@import "../../cbtheme/css/variables"; // продублировано из styles.scss, чтобы переменные не подсвечивались

$content-well-max-width:  1320px;

//- colors
//
$brand-color:               #213A6E;


$menu-item-color:           #fff;
$menu-item-hover-color:     #fff;
$menu-item-active-color:    #fff;
